h1 {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    color: #43505d;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 20px;
    
    display: inline-block;
    transition: all 0.5s ease;
}

h1:hover {
    color: #ffffff;
    transform: scale(1.25);
}
form{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content: center;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-image:url(heroscreen.cc-14042022-MINIMAL-SUNSET.jpg);
    background-color: #b87257;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}